.cardVideo{
    height: 330px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #191919;
}

.hearderCard{
    height: 70%;
    width: 100%;
    background-color: red;
}

.hearderCard img{
    height: 100%;
    width: 100%;
}

.bodyCard{
    height: 25%;
    width: 100%;
}