.detalle-container{
    height: 420px;
    width: 100%;
    margin-top: 85px;
    overflow: hidden;
}

.cardSugerencia{
    height: 100px;
    width: 100%;
    display: flex;
    font-size: 14px;
    background-color: #191919;
    border-radius: 10px;
    overflow: hidden;

}


.img-card{
    height: 100px;
    width: 240px;
    overflow: hidden;

}

.cardSugerencia img{
    height: 100%;
    width: 100%;
}

.cardSugerencia:hover img{
    scale: 1.05;
    transition: 1s ease;
}



@media screen and (max-width: 768px) {

    .detalle-container{
        height: 420px;
        width: 100%;
        margin-top: 70px;
        margin-bottom: 200px;
    }


    .containerCard-sugerencia{
        height: 350px;
        margin-top: 30px;
    }
    
}