/* .mainInicio{
    background-color: red;
} */

.separador{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-image: url("https://png.pngtree.com/background/20230525/original/pngtree-soccer-stadium-with-lights-at-night-picture-image_2729290.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.separador div{
    height: 100%;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.664);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador div img{
    height: 40px;
    width: 60px;
}