
.separador{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-image: url("../img/futbol-2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.separador div{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.separador div img{
    height: 40px;
    width: 60px;
}