.menuLateral{
    height: 100vh;
    width:200px;
    background-color:#191919;
    position: sticky;
    top: 0px;
    padding-top: 60px;
}

.ligas{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ligas a {
    text-decoration: none;
    color: grey;
}

.ligas a:hover{
    color: white;
    transition: 0.5s ease;
}

.containerLogo{
    height: 50px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.containerLogo img{
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 768px) {
    .menuLateral{
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .menuLateral{
        display: none;
    }
}